{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionVentas/" method="post" id="frm_nuevo_ventas">
      {% csrf_token %}
      <b>Tipo Clientes:</b>
        <select data-live-search="true" data-live-search-style="startsWith" class="selectpicker" name="idcli_SG_clientes" id="idcli_SG_clientes" required  data-live-search-placeholder="Buscar ventas...">
            <option value="">Selecione el Tipo</option>
            {% for clientes in clientes %}
            <option value="{{clientes.idcli_SG}}">{{clientes.nombre_SG}}</option>
            {% endfor %}
        </select>
        <br>
        <script type="text/javascript">
          document.getElementById("idcli_SG_clientes").value="{{venta.clientes.idcli_SG}}";
        </script>
      <br>
      <input type="hidden" name="idve_SG"  value="{{ venta.idve_SG }}">
      <b>TIPO:</b>
      <input type="text" name="tipo_SG" id="tipo_SG" oninput="soloLetras(this)"
      value="{{ venta.tipo_SG }}" placeholder="Ingrese el tipo de venta"
      class="form-control" required>
      <br>
      <b>FECHA:</b>
      <input type="date" name="fecha_SG" id="fecha_SG"
      value="{{ venta.fecha_SG|date:'Y-m-d'}}" onfocus="establecerFechaActual(this)" placeholder="Ingrese la fecha"
      class="form-control" required>
      <br>
      <b>PRECIO UNITARIO:</b>
      <input type="number" name="precioUnitario_SG" id="precioUnitario_SG" oninput="soloNumeros(this)"
      value="{{ venta.precioUnitario_SG }}" placeholder="Ingrese el precio Unitario"
      class="form-control" required>
      <br>
      <b>PRECIO TOTAL:</b>
      <input type="number" name="precioTotal_SG" id="precioTotal_SG" oninput="soloNumeros(this)"
      value="{{ venta.precioTotal_SG }}" placeholder="Ingrese el precio Total"
      class="form-control" required>
      <br>
      <b>DESCRIPCION:</b>
      <textarea name="descripcion_SG" id="descripcion_SG" oninput="soloLetras(this)" rows="3" class="form-control" placeholder="Ingrese la Descripcion" required letterswithbasicpunc>{{venta.descripcion_SG}}</textarea>
      <br>


      <center>
        <button type="submit" name="button"
        class="btn btn-warning ">
          &nbsp;&nbsp;&nbsp; Actualizar &nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'listadoVentas'%}"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
<script type="text/javascript">

  $(document).ready(function () {
    $("#frm_nuevo_ventas").validate({
        rules: {
          "idcli_SG_clientes": {
              required: true
          },
            "tipo_SG": {
                required: true,
                minlength: 4, // Mínimo 5 caracteres para la descripción
                maxlength: 50
            },
            "fecha_SG": {
                required: true
            },
            "precioUnitario_SG": {
                required: true,
                number: true
            },
            "precioTotal_SG": {
                required: true
            },
            "descripcion_SG": {
                required: true,
                minlength: 5, // Mínimo 5 caracteres para la descripción
                maxlength: 100 // Máximo 100 caracteres para la descripción
            }
        },
        messages: {
          "idcli_SG_clientes": {
              required: "Por favor, Selecione el Tipo de Cliente"
          },
            "tipo_SG": {
                required: "Por favor, ingrese el tipo",
                minlength: "La descripción debe tener al menos {0} caracteres",
                maxlength: "La descripción no puede tener más de {0} caracteres"
            },
            "fecha_SG": {
                required: "Por favor, ingrese la fecha"
            },
            "precioUnitario_SG": {
                required: "Por favor, ingrese el Precio Unitario",
                number: "Por favor, ingrese un número válido"
            },
            "precioTotal_SG": {
                required: "Por favor, ingrese el precio Total"
            },
            "descripcion_SG": {
                required: "Por favor ingrese la descripción",
                minlength: "La descripción debe tener al menos {0} caracteres",
                maxlength: "La descripción no puede tener más de {0} caracteres"
            }
        }

    });
    $('#tbl_ventas').DataTable({
        dom: 'Bfrtip',
         buttons: [
           { extend: 'print', className: 'btn btn-outline-primary', text: ' Imprimir'},
           { extend: 'pdf', className: 'btn btn-outline-danger', text:' PDF' },
           { extend: 'csv', className: 'btn btn-outline-success', text:' CSV' }
         ],
         "language": {
            url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
         }
       });
});

function establecerFechaActual(input) {
    var fechaActual = new Date(); // Obtener la fecha actual
    var dia = fechaActual.getDate();
    var mes = fechaActual.getMonth() + 1; // Los meses en JavaScript son indexados desde 0
    var anio = fechaActual.getFullYear();

    // Formatear la fecha como "YYYY-MM-DD" para establecerla en el campo de entrada
    var fechaFormateada = anio + '-' + (mes < 10 ? '0' : '') + mes + '-' + (dia < 10 ? '0' : '') + dia;

    // Establecer la fecha actual en el campo de entrada
    input.value = fechaFormateada;

    // Establecer la fecha mínima como la fecha actual para evitar fechas anteriores
    input.min = fechaFormateada;

    // Establecer la fecha máxima como la fecha actual para evitar fechas posteriores
    input.max = fechaFormateada;
}

function soloNumeros(input) {
   // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
   input.value = input.value.replace(/\D/g, '');
}

function soloLetras(input) {
   // Reemplaza cualquier carácter que no sea una letra o espacio con una cadena vacía
   input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
}

</script>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
