{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionDetalles/" method="post" id="frm_nuevo_detalle">
      {% csrf_token %}
      <b>Tipo Ventas:</b>
      <select data-live-search="true" data-live-search-style="startsWith" class="selectpicker" name="idve_SG_ventas" id="idve_SG_ventas" required  data-live-search-placeholder="Buscar ventas...">
          <option value="">Selecione el Tipo</option>
          {% for ventas in ventas %}
          <option value="{{ventas.idve_SG}}">{{ventas.tipo_SG}}</option>
          {% endfor %}
      </select>
      <br>
      <br>
      <b>Tipo Productos:</b>
      <select data-live-search="true" data-live-search-style="startsWith" class="selectpicker" name="idpr_SG_productos" id="idpr_SG_productos" required data-live-search-placeholder="Buscar productos...">
          <option value="">Selecione el Tipo</option>
          {% for producto in productos %}
          <option value="{{producto.idpr_SG}}">{{producto.nombre_SG}}</option>
          {% endfor %}
      </select>

        <script type="text/javascript">
          document.getElementById("idve_SG_ventas").value="{{detalle.ventas.idve_SG}}";
        </script>

        <script type="text/javascript">
          document.getElementById("idpr_SG_productos").value="{{detalle.productos.idpr_SG}}";
      </script>

      <br>
      <br>
      <input type="hidden" name="idde_SG"  value="{{ detalle.idde_SG }}">
      <b>CANTIDAD:</b>
      <input type="text" name="cantidad_SG" id="cantidad_SG" oninput="soloNumeros(this)"
      value="{{ detalle.cantidad_SG }}" placeholder="Ingrese la cantidad"
      class="form-control" required>
      <br>
      <b>PRECIO:</b>
      <input type="number" name="precio_SG" id="precio_SG" oninput="soloNumeros(this)"
      value="{{ detalle.precio_SG }}" placeholder="Ingrese el precio"
      class="form-control" required>
      <br>
      <b>DESCRIPCION:</b>
      <textarea name="descripcion_SG" id="descripcion_SG" oninput="soloLetras(this)" rows="3" class="form-control" placeholder="Ingrese la Descripcion"
      required letterswithbasicpunc>{{detalle.descripcion_SG}}</textarea>
      <br>

      <center>
        <button type="submit" name="button"
        class="btn btn-warning ">
          &nbsp;&nbsp;&nbsp; Actualizar &nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'listadoDetalles'%}"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#frm_nuevo_detalle").validate({
            rules: {
                "cantidad_SG": {
                    required: true,
                    min: 1,
                    max: 100
                },
                "precio_SG": {
                    required: true,
                    number: true,
                    min: 0.01
                },
                "descripcion_SG": {
                    required: true,
                    minlength: 10,
                    maxlength: 200
                },
                "idve_SG_ventas": {
                    required: true
                },
                "idpr_SG_productos": {
                    required: true,
                }
            },
            messages: {
                "cantidad_SG": {
                    required: "Por favor, ingrese la cantidad",
                    min: "La cantidad debe ser al menos 1",
                    max: "La cantidad no puede exceder 100"
                },
                "precio_SG": {
                    required: "Por favor, ingrese el precio",
                    number: "Por favor, ingrese un valor numérico válido",
                    min: "El precio mínimo permitido es $0.01"
                },
                "descripcion_SG": {
                    required: "Por favor, ingrese la descripción",
                    minlength: "El nombre debe tener al menos 10 caracteres",
                    maxlength: "El nombre no debe exceder los 200 caracteres"
                },
                "idve_SG_ventas": {
                    required: "Por favor seleccione el tipo de venta"
                },
                "idpr_SG_productos": {
                    required: "Por favor seleccione el tipo de producto",
                }
            }
        });

        $('#tbl_detalles').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                    extend: 'print',
                    className: 'btn btn-outline-primary',
                    text: ' Imprimir'
                },
                {
                    extend: 'pdf',
                    className: 'btn btn-outline-danger',
                    text: ' PDF'
                },
                {
                    extend: 'csv',
                    className: 'btn btn-outline-success',
                    text: ' CSV '
                }
            ],
            "language": {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
            }
        });
    });
</script>


<script type="text/javascript">
       function soloNumeros(input) {
           // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
           input.value = input.value.replace(/\D/g, '');
       }
   </script>

<script type="text/javascript">
       function soloLetras(input) {
           // Reemplaza cualquier carácter que no sea una letra con una cadena vacía
           input.value = input.value.replace(/[^a-zA-Z]/g, '');
       }
  </script>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
