{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionCClientes/"  enctype="multipart/form-data" method="post" id="frm_nuevo_cliente" >
      {% csrf_token %}
      <input type="hidden" name="idcli_SG"  value="{{clientes.idcli_SG}}">
      <b>NOMBRE:</b>
      <input type="text" name="nombre_SG" id="nombre_SG" placeholder="Ingrese el nombre Cliente" oninput="soloLetras(this)"  value="{{clientes.nombre_SG}}"class="form-control" required>
      <br>
      <b>TELEFONO:</b>
      <input type="number" name="telefono_SG" id="telefono_SG" placeholder="Ingrese el numero" oninput="soloNumeros(this)" value="{{clientes.telefono_SG}}" class="form-control" required>
      <br>
      <b>DIRRECCION:</b>
      <textarea name="direccion_SG" id="direccion_SG" rows="3" class="form-control" oninput="soloLetras(this)" placeholder="Ingrese la Direccion" required letterswithbasicpunc>{{clientes.direccion_SG}}</textarea>
      <br>
      <b>EMAIL:</b>
      <input type="email" name="correo_SG" id="correo_SG" oninput="validarCorreo(this)" placeholder="Ingrese el correo"   value="{{clientes.correo_SG}}" class="form-control" required>
      <br>
      <b>CEDULA</b>
      <input type="file" name="cedula_SG" id="cedula_SG" accept="application/pdf" value="" class="form-control">
      <br>
      {% if clientes.cedula_SG %}
          <a href="{{ clientes.cedula_SG.url }}" target="_blank"  class="btn btn-outline-success" required > Ver archivo
          </a>
        {% else %}
          <b>N/A</b>
        {% endif %}
      <script>
        $(document).ready(function () {
            $("#cedula_SG").fileinput({
              //showUpload:false
              //showRemove: false,
              language:'es',
            });
        });
      </script>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning ">
          &nbsp;&nbsp;&nbsp; Actualizar &nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'listadoClientes'%}"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#frm_nuevo_cliente").validate({
      rules: {
          nombre_SG: {
              required: true,
              minlength: 3,
              maxlength: 50,

          },
          telefono_SG: {
              required: true,
              minlength: 10,
              maxlength: 10,
              digits: true
          },
          direccion_SG: {
              required: true,
              minlength: 10,
              maxlength: 100,

          },
          correo_SG: {
              required: true,
              email: true
          },
          cedula_SG: {
              required: true

          }
      },
      messages: {
          nombre_SG: {
              required: "Por favor, ingrese el nombre del cliente",
              minlength: "El nombre debe tener al menos 3 caracteres",
              maxlength: "El nombre no debe exceder los 50 caracteres"
          },
          telefono_SG: {
              required: "Por favor, ingrese el número de teléfono",
              minlength: "El número de teléfono debe tener al menos 10 dígitos",
              maxlength: "El número de teléfono no debe exceder los 10 dígitos",
              digits: "Por favor, ingrese solo números"
          },
          direccion_SG: {
              required: "Por favor, ingrese la dirección del cliente",
              minlength: "La direccion debe tener al menos 10 caracteres",
              maxlength: "la direccion no debe exceder los 100 caracteres"

          },
          correo_SG: {
              required: "Por favor, ingrese el correo electrónico",
              email: "Por favor, ingrese un correo electrónico válido"
          },
          cedula_SG: {
              required: "Por favor, adjunte el archivo de cédula del cliente"
          }
      }
  });
});
</script>

<script type="text/javascript">
       function soloNumeros(input) {
           // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
           input.value = input.value.replace(/\D/g, '');
       }
   </script>

<script type="text/javascript">
       function soloLetras(input) {
           // Reemplaza cualquier carácter que no sea una letra con una cadena vacía
           input.value = input.value.replace(/[^a-zA-Z]/g, '');
       }
  </script>
  <script type="text/javascript">
  function validarCorreo(input) {
      var regexCorreo = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      var correo = input.value;

      if (regexCorreo.test(correo)) {
          input.setCustomValidity('');
          input.style.borderColor = 'green';
      } else {
          input.setCustomValidity('Por favor, ingrese un correo electrónico válido');
          input.style.borderColor = 'red';
      }
  }
  </script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
