{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionCategoria/" method="post" id="frm_nuevo_categoria">
      {% csrf_token %}

      <br>
      <input type="hidden" name="idca_SG"  value="{{categoria.idca_SG}}">
      <b>NOMBRE:</b>
      <input type="text" name="nombre_SG" id="nombre_SG" oninput="soloLetras(this)"
      value="{{categoria.nombre_SG}}" placeholder="Ingrese el nombre"
      class="form-control" required>
      <br>
      <b>DESCRIPCION:</b>
      <textarea name="descripcion_SG" id="descripcion_SG" oninput="soloLetras(this)" rows="3" class="form-control" placeholder="Ingrese la Direccion" required letterswithbasicpunc>{{categoria.descripcion_SG}}</textarea>
      <br>
      <b>FECHA CREACION:</b>
      <input type="date" name="fechaCreacion_SG" id="fechaCreacion_SG"
      value="{{categoria.fechaCreacion_SG |date:'Y-m-d'}}" placeholder="Ingrese la fecha de creacion"
      class="form-control" required>
      <br>
      <b>UBICACION:</b>
      <textarea name="ubicacion_SG" id="ubicacion_SG" oninput="soloLetras(this)" rows="3" class="form-control" placeholder="Ingrese la Ubicacion" required letterswithbasicpunc>{{categoria.descripcion_SG}}</textarea>
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning ">
          &nbsp;&nbsp;&nbsp; Actualizar &nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'listadoCategoria'%}"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#frm_nuevo_categoria").validate({
            rules: {
                "nombre_SG": {
                    required: true,
                    minlength: 3,
                    maxlength: 50
                },
                "descripcion_SG": {
                    required: true,
                    minlength: 10,
                    maxlength: 200
                },
                "fechaCreacion_SG": {
                    required: true
                },
                "ubicacion_SG": {
                    required: true,
                    minlength: 5,
                    maxlength: 100
                }
            },
            messages: {
                "nombre_SG": {
                    required: "Ingrese el nombre de la Categoría",
                    minlength: "El nombre debe tener al menos 3 caracteres",
                    maxlength: "El nombre no debe exceder los 50 caracteres"
                },
                "descripcion_SG": {
                    required: "Ingrese una descripción para la categoría",
                    minlength: "La descripción debe tener al menos 10 caracteres",
                    maxlength: "La descripción no debe exceder los 200 caracteres"
                },
                "fechaCreacion_SG": {
                    required: "Por favor, ingrese la fecha de creación"
                },
                "ubicacion_SG": {
                    required: "Por favor, ingrese la ubicación",
                    minlength: "La ubicación debe tener al menos 5 caracteres",
                    maxlength: "La ubicación no debe exceder los 100 caracteres"
                }
            }
        });

        $('#tbl_categoria').DataTable({
            dom: 'Bfrtip',
            buttons: [
                { extend: 'print', className: 'btn btn-outline-primary', text: ' Imprimir' },
                { extend: 'pdf', className: 'btn btn-outline-danger', text: ' PDF' },
                { extend: 'csv', className: 'btn btn-outline-success', text: ' CSV ' }
            ],
            "language": {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
            }
        });
    });
</script>

<script type="text/javascript">
       function soloNumeros(input) {
           // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
           input.value = input.value.replace(/\D/g, '');
       }
   </script>

<script type="text/javascript">
       function soloLetras(input) {
           // Reemplaza cualquier carácter que no sea una letra con una cadena vacía
           input.value = input.value.replace(/[^a-zA-Z]/g, '');
       }
  </script>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

{% endblock %}
