{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionProductos/" method="post" enctype="multipart/form-data" id="frm_nuevo_producto">
      {% csrf_token %}
      <b>CATEGORIA</b>
      <select data-live-search="true" data-live-search-style="startsWith" class="selectpicker" name="idca_SG_categoria" id="idca_SG_categoria" required data-live-search-placeholder="Buscar categoria...">
      <option value="">--Seleccione el tipo de CARRERA--</option>
      {% for categoria in categorias %}
          <option value="{{ categoria.idca_SG }}">{{ categoria.nombre_SG }}</option>
      {% endfor %}
      </select>
      <br>
      <br>
      <b>PROVEEDOR</b>
    <select data-live-search="true" data-live-search-style="startsWith" class="selectpicker" name="idpo_SG_provedor" id="idpo_SG_provedor" required data-live-search-placeholder="Buscar proveedor...">
        <option value="">--Seleccione el proveedor--</option> <!-- Corregido aquí -->
        {% for provedor in provedores %}
            <option value="{{ provedor.idpo_SG }}">{{ provedor.nombre_SG }}</option>
        {% endfor %}
    </select>
      <br>
      <script type="text/javascript">
        document.getElementById("idca_SG_categoria").value="{{productos.categoria.idca_SG}}";
      </script>
      <script type="text/javascript">
        document.getElementById("idpo_SG_provedor").value="{{productos.provedor.idpo_SG}}";
      </script>
      <input type="hidden" name="idpr_SG"  value="{{productos.idpr_SG}}">
      <br>
      <b>NOMBRE:</b>
      <input type="text" name="nombre_SG" id="nombre_SG" oninput="soloLetras(this)" value="{{productos.nombre_SG}}" placeholder="Ingrese el nombre Producto" class="form-control" required>
      <br>
      <b>DESCRIPCION:</b>
      <textarea name="descripcion_SG" id="descripcion_SG" oninput="soloLetras(this)" rows="3" class="form-control" placeholder="Ingrese la Direccion" required letterswithbasicpunc>{{productos.descripcion_SG}}</textarea>
      <br>
      <b>PRECIO:</b>
      <input type="number" name="precio_SG" id="precio_SG" oninput="soloNumeros(this)" value="{{productos.precio_SG}}" placeholder="Ingrese el precio" class="form-control" required>
      <br>
      <b>CANTIDAD:</b>
      <input type="text" name="cantidad_SG" id="cantidad_SG" oninput="soloNumeros(this)" value="{{productos.cantidad_SG}}" placeholder="Ingrese la cantidad" class="form-control" required>
      <br>
      <b>FOTOGRAFIA</b>
      <input type="file" name="fotografia_SG" id="fotografia_SG" accept="image/*" value="" class="form-control">
      <br>
      {% if productos.fotografia_SG %}
          <a href="{{ productos.fotografia_SG.url }}" target="_blank" >
            <img src="{{ productos.fotografia_SG.url }}" alt="" height="50px">
          </a>
        {% else %}
          <b>N/A</b>
        {% endif %}
      <script>
        $(document).ready(function () {
            $("#fotografia_SG").fileinput({
              //showUpload:false
              //showRemove: false,
              language:'es',
            });
        });
      </script>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning ">
          &nbsp;&nbsp;&nbsp; Actualizar &nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'listadoProductos'%}"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
$("#frm_nuevo_producto").validate({
    rules: {
        idca_SG_categoria: {
            required: true
        },
        idpo_SG_provedor: {
            required: true
        },
        nombre_SG: {
            required: true,
            minlength: 3,
            maxlength: 50
        },
        descripcion_SG: {
            required: true,
            minlength: 10, // Mínimo 10 caracteres
            maxlength: 100
        },
        precio_SG: {
            required: true,
            number: true,
            min: 0.01 // Precio mínimo permitido
        },
        cantidad_SG: {
            required: true,
            digits: true,
            min: 1 // Cantidad mínima permitida
        },
        fotografia_SG: { // Cambiado de cedula_SG a fotografia_SG para reflejar el nombre del campo en el formulario
            required: true
        }
    },
    messages: {
        idca_SG_categoria: {
            required: "Por favor, seleccione el tipo de Categoria."
        },
        idpo_SG_provedor: {
            required: "Por favor, seleccione el tipo de Proveedor."
        },
        nombre_SG: {
            required: "Por favor, ingrese el nombre del producto.",
            minlength: "El nombre debe tener al menos 3 caracteres",
            maxlength: "El nombre no debe exceder los 50 caracteres"
        },
        descripcion_SG: {
            required: "Por favor, ingrese la descripción del producto.",
            minlength: "La descripción debe tener exactamente 10 dígitos",
            maxlength: "La descripción debe tener exactamente 100 dígitos"
        },
        precio_SG: {
            required: "Por favor, ingrese el precio del producto.",
            number: "Por favor, ingrese un valor numérico válido para el precio.",
            min: "El precio debe ser mayor o igual a 0.01."
        },
        cantidad_SG: {
            required: "Por favor, ingrese la cantidad del producto.",
            digits: "Por favor, ingrese solo números enteros para la cantidad.",
            min: "La cantidad debe ser al menos 1."
        },
        fotografia_SG: { // Cambiado de cedula_SG a fotografia_SG para reflejar el nombre del campo en el formulario
            required: "Por favor, adjunte la fotografia del Producto"
        }
    }
});
});
</script>
   <script type="text/javascript">
          function soloNumeros(input) {
              // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
              input.value = input.value.replace(/\D/g, '');
          }
      </script>

      <script type="text/javascript">
          function soloLetras(input) {
              // Reemplaza cualquier carácter que no sea una letra o espacio con una cadena vacía
              input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
          }
      </script>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

{% endblock %}
