{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Esto asegura que el formulario ocupe toda la altura del viewport */
    }

    form {
        width: 400px; /* Ajusta el ancho del formulario */
        background-color: #fff;
        padding: 30px; /* Aumenta el padding para que el formulario sea más grande */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #333;
        text-align: center; /* Centra el título */
    }

    label {
        display: block;
        margin-bottom: 8px;
        color: #555;
    }

    input[type="email"],
    input[type="text"],
    textarea {
        width: calc(100% - 16px); /* Resta el padding del ancho */
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    textarea {
        resize: vertical;
    }

    input[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>

<center>
    <h2>Enviar correo</h2>
</center>
<form action="{% url 'enviar_correo'%}" method="post" id="frm_nuevo_asignatura">
    <div class="d-flex justify-content-center">
        <img src="{% static 'img/corr.jpg' %}" alt="" class="img-fluid" style="width: 50%; height: 50%;">
    </div>
    {% csrf_token %}
    <label for="destinatario">Destinatario:</label>
    <input type="email" name="destinatario" id="destinatario" placeholder="Ingrese el correo" required>

    <label for="asunto">Asunto:</label>
    <input class="inputl" type="text" name="asunto" oninput="soloLetras(this)" id="asunto" placeholder="Ingrese el asunto" required>

    <label for="cuerpo">Mensaje:</label>
    <textarea name="cuerpo" id="cuerpo" placeholder="Ingrese un mensaje" rows="5" required></textarea> <!-- Ajusta el número de filas del área de texto -->

    <input type="submit" value="Enviar Correo">
</form>

<script>
    $(document).ready(function() {
        $("#frm_nuevo_asignatura").validate({
            rules: {
                "destinatario": {
                    required: true,
                    email: true
                },
                "asunto": {
                    required: true
                },
                "cuerpo": {
                    required: true
                }
            },
            messages: {
                "destinatario": {
                    required: "Por favor, ingrese el correo del destinatario",
                    email: "Por favor, ingrese un correo electrónico válido"
                },
                "asunto": {
                    required: "Por favor, ingrese el asunto del correo"
                },
                "cuerpo": {
                    required: "Por favor, ingrese el mensaje del correo"
                }
            }
        });
    });
</script>
<script type="text/javascript">
    function soloNumeros(input) {
        // Reemplaza cualquier carácter que no sea un dígito numérico o un espacio con una cadena vacía
        input.value = input.value.replace(/[^\d\s]/g, '');
    }
</script>

<script type="text/javascript">
    function soloLetras(input) {
        // Reemplaza cualquier carácter que no sea una letra o un espacio con una cadena vacía
        input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
    }
</script>


{% endblock %}
