{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}

<style>
    /* Agregamos un margen superior para que el contenido no se pegue demasiado al borde superior */
    .container {
        margin-top: 50px;
    }
</style>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters">
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                <h1>Listado Detalles</h1>
                <img src='{% static "img/de.png" %}'style='width: 90%; height: 90%;' alt="">
            </div>

            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form class="" action="/guardarDetalles/" method="post"  enctype="multipart/form-data" id="frm_nuevo_detalle">
                    {% csrf_token %}
                    <b>Tipo Ventas:</b>
                    <select data-live-search="true" data-live-search-style="startsWith" class="selectpicker" name="idve_SG_ventas" id="idve_SG_ventas" required  data-live-search-placeholder="Buscar ventas...">
                        <option value="">Selecione el Tipo</option>
                        {% for ventas in ventas %}
                        <option value="{{ventas.idve_SG}}">{{ventas.tipo_SG}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <b>Tipo Productos:</b>
                    <select data-live-search="true" data-live-search-style="startsWith" class="selectpicker" name="idpr_SG_productos" id="idpr_SG_productos" required data-live-search-placeholder="Buscar productos...">
                        <option value="">Selecione el Tipo</option>
                        {% for productos in productos %}
                        <option value="{{productos.idpr_SG}}">{{productos.nombre_SG}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <b>Cantidad:</b>
                    <input type="text" name="cantidad_SG" id="cantidad_SG" oninput="soloNumeros(this)" placeholder="Ingrese la cantidad" class="form-control" required>
                    <br>
                    <b>Precio:</b>
                    <input type="number" name="precio_SG" id="precio_SG" oninput="soloNumeros(this)" placeholder="Ingrese el precio" class="form-control" required>
                    <br>
                    <b>Descripcion:</b>
                    <textarea name="descripcion_SG" id="descripcion_SG" rows="3" oninput="soloLetras(this)"placeholder="Ingrese la descripcion" class="form-control" required></textarea>
                    <br>
                    <center>
                        <button type="submit" name="button" onclick="guardarVentas()" class="btn btn-primary">&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;</button> &nbsp;&nbsp;
                        <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-15">
            <div class="card">
                <div class="card-body">

                    <table class="table table-dark table-striped-columns" id="tbl_detalles">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>CANTIDAD</th>
                                <th>PRECIO</th>
                                <th>DESCRIPCION</th>
                                <th>TIPO VENTAS</th>
                                <th>TIPO PRODUCTOS</th>
                                <th>ACCIONES</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for detalles in detalles %}
                            <tr>
                                <td>{{ detalles.idde_SG }}</td>
                                <td>{{ detalles.cantidad_SG }}</td>
                                <td>{{ detalles.precio_SG }}</td>
                                <td>{{ detalles.descripcion_SG }}</td>
                                <td>{{ detalles.ventas.tipo_SG}}</td>
                                <td>{{ detalles.productos.nombre_SG}}</td>
                                <td>

                                    <a href="/editarDetalles/{{detalles.idde_SG}}" class="btn btn-warning">Editar</a>
                                    <a href="javascript:void(0)" onclick="eliminarDetalles('/eliminarDetalles/{{detalles.idde_SG}}');" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<script type="text/javascript">
    function eliminarDetalles(url) {
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el detalle seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function(instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href = url;
                }, true],
                ['<button>NO</button>', function(instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                }],
            ]
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#frm_nuevo_detalle").validate({
            rules: {
                "cantidad_SG": {
                    required: true,
                    min: 1,
                    max: 100
                },
                "precio_SG": {
                    required: true,
                    number: true,
                    min: 0.01
                },
                "descripcion_SG": {
                    required: true,
                    minlength: 10,
                    maxlength: 200
                },
                "idve_SG_ventas": {
                    required: true
                },
                "idpr_SG_productos": {
                    required: true,
                }
            },
            messages: {
                "cantidad_SG": {
                    required: "Por favor, ingrese la cantidad",
                    min: "La cantidad debe ser al menos 1",
                    max: "La cantidad no puede exceder 100"
                },
                "precio_SG": {
                    required: "Por favor, ingrese el precio",
                    number: "Por favor, ingrese un valor numérico válido",
                    min: "El precio mínimo permitido es $0.01"
                },
                "descripcion_SG": {
                    required: "Por favor, ingrese la descripción",
                    minlength: "El nombre debe tener al menos 10 caracteres",
                    maxlength: "El nombre no debe exceder los 200 caracteres"
                },
                "idve_SG_ventas": {
                    required: "Por favor seleccione el tipo de venta"
                },
                "idpr_SG_productos": {
                    required: "Por favor seleccione el tipo de producto",
                }
            }
        });

        $('#tbl_detalles').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                    extend: 'print',
                    className: 'btn btn-outline-primary',
                    text: ' Imprimir'
                },
                {
                    extend: 'pdf',
                    className: 'btn btn-outline-danger',
                    text: ' PDF'
                },
                {
                    extend: 'csv',
                    className: 'btn btn-outline-success',
                    text: ' CSV '
                }
            ],
            "language": {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
            }
        });
    });
</script>


<button id="toggleChartButton" onclick="toggleChart()" class="btn btn-success">Mostrar/ocultar gráfico</button>

<div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
    <canvas id="myChart"></canvas>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const ctx = document.getElementById('myChart').getContext('2d');
        const chartData = {
            labels: ['Tipo Ventas', 'Tipo Productos'],
            datasets: [{
                label: 'Cantidad',
                data: [0, 0], // Inicialmente sin datos
                backgroundColor: 'rgba(47, 79, 47, 0.5)', // Verde oscuro
                borderColor: 'rgba(47, 79, 47, 1)', // Verde oscuro
                borderWidth: 1,
            }]
        };

        const myChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        stepSize: 1,
                    }
                }
            }
        });

        window.toggleChart = function() {
            const chartContainer = document.getElementById('chartContainer');
            if (chartContainer.style.display === 'none') {
                chartContainer.style.display = 'block';
            } else {
                chartContainer.style.display = 'none';
            }
            updateChart();
        };

        function updateChart() {
            const ventasSelect = document.getElementById('idve_SG_ventas');
            const productosSelect = document.getElementById('idpr_SG_productos');

            const ventasData = ventasSelect.selectedIndex >= 0 ? [1] : []; // Si se ha seleccionado alguna venta
            const productosData = productosSelect.selectedIndex >= 0 ? [1] : []; // Si se ha seleccionado algún producto

            myChart.data.datasets[0].data = [ventasData.length, productosData.length];
            myChart.update();
        }
    });
</script>



<script type="text/javascript">
       function soloNumeros(input) {
           // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
           input.value = input.value.replace(/\D/g, '');
       }
   </script>

   <script type="text/javascript">
       function soloLetras(input) {
           // Reemplaza cualquier carácter que no sea una letra o espacio con una cadena vacía
           input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
       }
   </script>
{% endblock %}
