{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<br>
<br>
    <div class="container">
        <div class="contact__wrapper shadow-lg mt-n9">
            <div class="row no-gutters">
                <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                    <h1>Listado de Provedores</h1>
                    <br>
                    <br>
										<img src='{% static "img/prove.png" %}'style='width: 90%; height: 50%;' alt="">
                </div>

                <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                  <form class="" action="/guardarProvedores/" method="post"  enctype="multipart/form-data" id="frm_nuevo_provedor">
                  {% csrf_token %}
									<br>
									<b>NOMBRE:</b>
									<input type="text" name="nombre_SG" id="nombre_SG" oninput="soloLetras(this)" placeholder="Ingrese el nombre del Provedor " class="form-control" required>
									<br>
                  <b>DIRRECCION:</b>
                  <textarea name="direccion_SG" id="direccion_SG" rows="3"  class="form-control" placeholder="Ingrese la Direccion" required letterswithbasicpunc></textarea>
                  <br>
                  <b>CIUDAD:</b>
									<input type="text" name="ciudad_SG" id="ciudad_SG" oninput="soloLetras(this)" placeholder="Ingrese la Ciudad Provedor " class="form-control" required>
									<br>
                  <b>EMAIL:</b>
									<input type="email" name="correo_SG" id="correo_SG" oninput="validarCorreo(this)" placeholder="Ingrese el correo" class="form-control" required>
                  <br>
                  <b>TELEFONO:</b>
									<input type="number" name="telefono_SG" id="telefono_SG" oninput="soloNumeros(this)" placeholder="Ingrese el numero" class="form-control" required>
									<br>
                  <b>RECIBO DE PAGO</b>
                  <input type="file" name="fotografia_SG" id="fotografia_SG" accept="application/pdf" value="" class="form-control">
                  <br>
                  <script>
                    $(document).ready(function () {
                        $("#fotografia_SG").fileinput({
                          //showUpload:false
                          //showRemove: false,
                          language:'es',
                        });
                    });
                  </script>
									<center>
										<button type="submit" name="button" onclick="guardarProvedores()" class="btn btn-primary">&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;</button> &nbsp;&nbsp;
										<button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
									</center>
                  </form>
                </div>
            </div>
        </div>
    </div>
<br>



<div class="container">
<div class="row">
		<div class="col-md-1"></div>

	   <div class="col-md-15">
				<div class="card">
						<div class="card-body">

              <table class="table table-dark table-striped-columns" id="tbl_provedores">
                        <thead>
                        <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>CIUDAD</th>
                        <th>CORREO</th>
                        <th>TELEFONO</th>
                        <th>RECIBO</th>
                        <th>ACCIONES</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for provedor in provedores %}
                      <tr>
                        <td>{{ provedor.idpo_SG }}</td>
                        <td>{{ provedor.nombre_SG }}</td>
                        <td>{{ provedor.direccion_SG }}</td>
                        <td>{{ provedor.ciudad_SG }}</td>
                        <td>{{ provedor.correo_SG}}</td>
                        <td>{{ provedor.telefono_SG}}</td>
                        <td>
                          {% if provedor.fotografia_SG %}
                              <a href="{{ provedor.fotografia_SG.url }}" target="_blank"  class="btn btn-outline-success" required > Ver archivo
                              </a>
                            {% else %}
                              <b>N/A</b>
                            {% endif %}
                        </td>
                        <td>

                        <a href="/editarProvedores/{{provedor.idpo_SG}}" class="btn btn-warning">Editar</a>
                        <a href="javascript:void(0)" onclick="eliminarProvedores('/eliminarProvedores/{{provedor.idpo_SG}}');" class="btn btn-danger">Eliminar</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

            			</div>
            		</div>
              </div>
               	<div class="col-md-1"></div>
          </div>
      </div>



      <script type="text/javascript">
              function eliminarProvedores(url){
                iziToast.question({
                    timeout: 15000,
                    close: true,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    title: 'CONFIRMACIÓN',
                    message: '¿Está seguro de eliminar la Carrera Seleccionado?',
                    position: 'center',
                    buttons: [
                        ['<button><b>SI</b></button>', function (instance, toast) {
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                            window.location.href=url;
                        }, true],
                        ['<button>NO</button>', function (instance, toast) {

                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        }],
                    ]
                });
              }
            </script>

            <script type="text/javascript">
                $(document).ready(function() {
                    $("#frm_nuevo_provedor").validate({
                        rules: {
                            nombre_SG: {
                                required: true,
                                minlength: 3, // Mínimo 3 caracteres
                                maxlength: 50
                            },
                            telefono_SG: {
                                required: true,
                                minlength: 10, // Mínimo 10 caracteres
                                maxlength: 10, // Máximo 10 caracteres
                                digits: true   // Solo permite dígitos
                            },
                            direccion_SG: {
                                required: true,
                                minlength: 10, // Mínimo 10 caracteres
                                maxlength: 100 // Máximo 10 caracteres
                            },
                            ciudad_SG: { // Agregado el campo de ciudad
                                required: true,
                                minlength: 4, // Mínimo 10 caracteres
                                maxlength: 100
                            },
                            correo_SG: {
                                required: true,
                                email: true
                            },
                            fotografia_SG: { // Cambiado de cedula_SG a fotografia_SG para reflejar el nombre del campo en el formulario
                                required: true
                            }
                        },
                        messages: {
                            nombre_SG: {
                                required: "Por favor, ingrese el nombre del Proveedor",
                                minlength: "El nombre debe tener al menos 3 caracteres",
                                maxlength: "El nombre no debe exceder los 50 caracteres"
                            },
                            telefono_SG: {
                                required: "Por favor, ingrese el número de teléfono",
                                minlength: "El número de teléfono debe tener exactamente 10 dígitos",
                                maxlength: "El número de teléfono debe tener exactamente 100 dígitos",
                                digits: "Por favor, ingrese solo números"
                            },
                            direccion_SG: {
                                required: "Por favor, ingrese la dirección del Proveedor",
                                minlength: "La dirección debe tener exactamente 10 dígitos",
                                maxlength: "La dirección debe tener exactamente 100 dígitos"
                            },
                            ciudad_SG: { // Agregado el mensaje para el campo de ciudad
                                required: "Por favor, ingrese la ciudad del Proveedor",
                                minlength: "La ciudad debe tener exactamente 10 dígitos",
                                maxlength: "La ciudad debe tener exactamente 100 dígitos"
                            },
                            correo_SG: {
                                required: "Por favor, ingrese el correo electrónico",
                                email: "Por favor, ingrese un correo electrónico válido"
                            },
                            fotografia_SG: { // Cambiado de cedula_SG a fotografia_SG para reflejar el nombre del campo en el formulario
                                required: "Por favor, adjunte el archivo de recibo de pago del Proveedor"
                            }
                        }
                    });
                });
            </script>

            <script type="text/javascript">
              $(document).ready(function() {
                  $('#tbl_provedores').DataTable({
                      dom: 'Bfrtip',
                      buttons: [
                          {
                              extend: 'print',
                              className: 'btn btn-outline-primary',
                              text: ' Imprimir'
                          },
                          {
                              extend: 'pdf',
                              className: 'btn btn-outline-danger',
                              text:' PDF'
                          },
                          {
                              extend: 'csv',
                              className: 'btn btn-outline-success',
                              text:' CSV'
                          }
                      ],
                      "language": {
                          url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
                      }
                  });
              });
            </script>

            <script type="text/javascript">
                function soloNumeros(input) {
                    // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
                    input.value = input.value.replace(/\D/g, '');
                }
            </script>

            <script type="text/javascript">
                function soloLetras(input) {
                    // Reemplaza cualquier carácter que no sea una letra o espacio con una cadena vacía
                    input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
                }
            </script>

       <script type="text/javascript">
              function soloNumeros(input) {
                  // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
                  input.value = input.value.replace(/\D/g, '');
              }
          </script>

          <script type="text/javascript">
              function soloLetras(input) {
                  // Reemplaza cualquier carácter que no sea una letra o espacio con una cadena vacía
                  input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
              }
          </script>

          <script type="text/javascript">
          function validarCorreo(input) {
              var regexCorreo = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
              var correo = input.value;

              if (regexCorreo.test(correo)) {
                  input.setCustomValidity('');
                  input.style.borderColor = 'green';
              } else {
                  input.setCustomValidity('Por favor, ingrese un correo electrónico válido');
                  input.style.borderColor = 'red';
              }
          }
          </script>
{% endblock %}
