{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<br>

    <div class="container">
        <div class="contact__wrapper shadow-lg mt-n9">
            <div class="row no-gutters">
                <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                    <h1>Listado de los Productos</h1>
                    <br>
                    <br>
										<img src='{% static "img/produ.jpg" %}'style='width: 90%; height: 50%;' alt="">
                </div>

                <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                  <form class="" action="/guardarProductos/" method="post"  enctype="multipart/form-data" id="frm_nuevo_producto">
                  {% csrf_token %}
                  <b>CATEGORIA</b>
                  <select data-live-search="true" data-live-search-style="startsWith" class="selectpicker" name="idca_SG_categoria" id="idca_SG_categoria" required  data-live-search-placeholder="Buscar categoria...">
                      <option value="">Seleccione la Categoria</option>
                      {% for categoria in categorias %}
                          <option value="{{ categoria.idca_SG }}">{{ categoria.nombre_SG }}</option>
                      {% endfor %}
                  </select>
                  <br>
                  <br>
                  <b>PROVEEDOR</b>
                  <select data-live-search="true" data-live-search-style="startsWith" class="selectpicker" name="idpo_SG_provedor" id="idpo_SG_provedor" required data-live-search-placeholder="Buscar proveedor...">
                      <option value="">Seleccione el proveedor</option> <!-- Corregido aquí -->
                      {% for provedor in provedores %}
                          <option value="{{ provedor.idpo_SG }}">{{ provedor.nombre_SG }}</option>
                      {% endfor %}
                  </select>

									<br>
                  <br>
									<b>NOMBRE:</b>
									<input type="text" name="nombre_SG" id="nombre_SG" oninput="soloLetras(this)" placeholder="Ingrese el nombre Producto" class="form-control" required>
									<br>
                  <b>DESCRIPCION:</b>
                  <textarea name="descripcion_SG" id="descripcion_SG" oninput="soloLetras(this)" rows="3" class="form-control" placeholder="Ingrese la Direccion" required letterswithbasicpunc></textarea>
                  <br>
                  <b>PRECIO:</b>
									<input type="number" name="precio_SG" id="precio_SG" oninput="soloNumeros(this)" placeholder="Ingrese el precio" class="form-control" required>
									<br>
                  <b>CANTIDAD:</b>
									<input type="text" name="cantidad_SG" id="cantidad_SG" oninput="soloNumeros(this)" placeholder="Ingrese la cantidad" class="form-control" required>
									<br>
                  <b>FOTOGRAFIA</b>
                  <input type="file" name="fotografia_SG" id="fotografia_SG" accept="image/*" value="" class="form-control">
                  <br>
                  <script>
                    $(document).ready(function () {
                        $("#fotografia_SG").fileinput({
                          //showUpload:false
                          //showRemove: false,
                          language:'es',
                        });
                    });
                  </script>
									<center>
										<button type="submit" name="button" onclick="guardarProductos()" class="btn btn-primary">&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;</button> &nbsp;&nbsp;
										<button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
									</center>
                  </form>
                </div>
            </div>
        </div>
    </div>
<br>



<div class="container">
<div class="row">
		<div class="col-md-1"></div>

	   <div class="col-md-15">
				<div class="card">
						<div class="card-body">

              <table class="table table-dark " id="tbl_productos">
                        <thead>
                        <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>DESCRIPCION</th>
                        <th>PRECIO</th>
                        <th>CANTIDAD</th>
                        <th>CATEGORIA</th>
                        <th>PROVEDOR</th>
                        <th>FOTOGRAFIA</th>
                        <th>ACCIONES</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for producto in productos %}
                      <tr>
                        <td>{{ producto.idpr_SG }}</td>
                        <td>{{ producto.nombre_SG }}</td>
                        <td>{{ producto.descripcion_SG }}</td>
                        <td>{{ producto.precio_SG }}</td>
                        <td>{{ producto.cantidad_SG}}</td>
                        <td>{{ producto.categoria.nombre_SG}}</td>
                        <td>{{ producto.provedor.nombre_SG}}</td>
                        <td>
                          {% if producto.fotografia_SG %}
                              <a href="{{ producto.fotografia_SG.url }}" target="_blank" >
                                <img src="{{ producto.fotografia_SG.url }}" alt="" height="50px">
                              </a>
                            {% else %}
                              <b>N/A</b>
                            {% endif %}
                        </td>
                        <td>

                        <a href="/editarProductos/{{producto.idpr_SG}}" class="btn btn-warning">Editar</a>
                        <a href="javascript:void(0)" onclick="eliminarProductos('/eliminarProductos/{{producto.idpr_SG}}');" class="btn btn-danger">Eliminar</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>

                  </table>

            			</div>
            		</div>
              </div>

          </div>
      </div>



      <script type="text/javascript">
              function eliminarProductos(url){
                iziToast.question({
                    timeout: 15000,
                    close: true,
                    overlay: true,
                    displayMode: 'once',
                    id: 'question',
                    zindex: 999,
                    title: 'CONFIRMACIÓN',
                    message: '¿Está seguro de eliminar la Carrera Seleccionado?',
                    position: 'center',
                    buttons: [
                        ['<button><b>SI</b></button>', function (instance, toast) {
                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                            window.location.href=url;
                        }, true],
                        ['<button>NO</button>', function (instance, toast) {

                            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        }],
                    ]
                });
              }
            </script>

            <script type="text/javascript">
        $(document).ready(function() {
            $("#frm_nuevo_producto").validate({
                rules: {
                    idca_SG_categoria: {
                        required: true
                    },
                    idpo_SG_provedor: {
                        required: true
                    },
                    nombre_SG: {
                        required: true,
                        minlength: 3,
                        maxlength: 50
                    },
                    descripcion_SG: {
                        required: true,
                        minlength: 10, // Mínimo 10 caracteres
                        maxlength: 100
                    },
                    precio_SG: {
                        required: true,
                        number: true,
                        min: 0.01 // Precio mínimo permitido
                    },
                    cantidad_SG: {
                        required: true,
                        digits: true,
                        min: 1 // Cantidad mínima permitida
                    },
                    fotografia_SG: { // Cambiado de cedula_SG a fotografia_SG para reflejar el nombre del campo en el formulario
                        required: true
                    }
                },
                messages: {
                    idca_SG_categoria: {
                        required: "Por favor, seleccione el tipo de Categoria."
                    },
                    idpo_SG_provedor: {
                        required: "Por favor, seleccione el tipo de Proveedor."
                    },
                    nombre_SG: {
                        required: "Por favor, ingrese el nombre del producto.",
                        minlength: "El nombre debe tener al menos 3 caracteres",
                        maxlength: "El nombre no debe exceder los 50 caracteres"
                    },
                    descripcion_SG: {
                        required: "Por favor, ingrese la descripción del producto.",
                        minlength: "La descripción debe tener exactamente 10 dígitos",
                        maxlength: "La descripción debe tener exactamente 100 dígitos"
                    },
                    precio_SG: {
                        required: "Por favor, ingrese el precio del producto.",
                        number: "Por favor, ingrese un valor numérico válido para el precio.",
                        min: "El precio debe ser mayor o igual a 0.01."
                    },
                    cantidad_SG: {
                        required: "Por favor, ingrese la cantidad del producto.",
                        digits: "Por favor, ingrese solo números enteros para la cantidad.",
                        min: "La cantidad debe ser al menos 1."
                    },
                    fotografia_SG: { // Cambiado de cedula_SG a fotografia_SG para reflejar el nombre del campo en el formulario
                        required: "Por favor, adjunte la fotografia del Producto"
                    }
                }
            });

            $('#tbl_productos').DataTable({
              dom: 'Bfrtip',
               buttons: [
                 { extend: 'print',className: 'btn btn-outline-primary' ,text: ' Imprimir'},
                 { extend: 'pdf', className: 'btn btn-outline-danger', text:' PDF' },
                 { extend: 'csv', className: 'btn btn-outline-success', text:' CSV ' }
               ],
               "language": {
                  url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
               }
             });
          });
      </script>

<button id="toggleChartButton" onclick="toggleChart()" class="btn btn-success">Mostrar/ocultar gráfico</button>

<div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
    <canvas id="myChart"></canvas>
</div>
 <script>
    document.addEventListener('DOMContentLoaded', function () {
      const ctx = document.getElementById('myChart');

      const categoriasSet = new Set();
      const proveedoresSet = new Set();

      // Recopilación de datos para las categorías
      {% for categoria in categorias %}
        categoriasSet.add("{{ categoria.nombre_SG }}");
      {% endfor %}

      // Recopilación de datos para los proveedores
      {% for proveedor in proveedores %}
        proveedoresSet.add("{{ proveedor.nombre_SG }}");
      {% endfor %}

      // Convertir sets a arrays
      const categoriasArray = Array.from(categoriasSet);
      const proveedoresArray = Array.from(proveedoresSet);

      // Generación de la gráfica para las categorías
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: categoriasArray,
          datasets: [{
            label: 'Cantidad de Categorías',
            data: categoriasArray.map(() => 1), // Asignamos 1 a cada categoría para representar la cantidad de opciones
            backgroundColor: 'rgba(0, 100, 0, 0.5)',
            borderColor: 'rgba(0, 100, 0, 1)',
            borderWidth: 1,
          }]
        },
        options: {
          scales: {
            x: {
              type: 'category',
              position: 'bottom',
            },
            y: {
              beginAtZero: true,
              max: 10,
              stepSize: 1,
            }
          }
        }
      });

      // Generación de la gráfica para los proveedores
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: proveedoresArray,
          datasets: [{
            label: 'Cantidad de Proveedores',
            data: proveedoresArray.map(() => 1), // Asignamos 1 a cada proveedor para representar la cantidad de opciones
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
          }]
        },
        options: {
          scales: {
            x: {
              type: 'category',
              position: 'bottom',
            },
            y: {
              beginAtZero: true,
              max: 10,
              stepSize: 1,
            }
          }
        }
      });

      // Función para mostrar/ocultar la gráfica
      window.toggleChart = function() {
        const chartContainer = document.getElementById('chartContainer');

        if (chartContainer.style.display === 'none') {
          chartContainer.style.display = 'block';
        } else {
          chartContainer.style.display = 'none';
        }
      };
    });
</script>


   <script type="text/javascript">
          function soloNumeros(input) {
              // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
              input.value = input.value.replace(/\D/g, '');
          }
      </script>

      <script type="text/javascript">
          function soloLetras(input) {
              // Reemplaza cualquier carácter que no sea una letra o espacio con una cadena vacía
              input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
          }
      </script>


{% endblock %}
