{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<br>
<br>
<br>
    <div class="container">
        <div  class="card table-card">
            <div class="row no-gutters">
                <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                    <h1>Listado de los Clientes</h1>
                    <br>
                    <br>
										<img src='{% static "img/cli.png" %}'style='width: 90%; height: 50%;' alt="">
                </div>

                <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                  <form class="" action="/guardarClientes/" method="post"  enctype="multipart/form-data" id="frm_nuevo_cliente">
                  {% csrf_token %}
									<br>
									<b>NOMBRE:</b>
									<input type="text" name="nombre_SG" id="nombre_SG" oninput="soloLetras(this)" placeholder="Ingrese el nombre Cliente" class="form-control" required>
									<br>
									<b>TELEFONO:</b>
									<input type="number" name="telefono_SG" id="telefono_SG" oninput="soloNumeros(this)"  placeholder="Ingrese el numero" class="form-control" required>
									<br>
                  <b>DIRRECCION:</b>
                  <textarea name="direccion_SG" id="direccion_SG" oninput="soloLetras(this)" rows="3" class="form-control" placeholder="Ingrese la Direccion" required letterswithbasicpunc></textarea>
                  <br>
                  <b>EMAIL:</b>
									<input type="email" name="correo_SG" id="correo_SG" oninput="validarCorreo(this)" placeholder="Ingrese el correo" class="form-control" required>
                  <br>
                  <b>CEDULA</b>
                  <input type="file" name="cedula_SG" id="cedula_SG" accept="application/pdf" value="" class="form-control">
                  <br>
                  <script>
                    $(document).ready(function () {
                        $("#cedula_SG").fileinput({
                          //showUpload:false
                          //showRemove: false,
                          language:'es',
                        });
                    });
                  </script>
									<center>
										<button type="submit" name="button" onclick="guardarClientes()" class="btn btn-primary">&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;</button> &nbsp;&nbsp;
										<button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
									</center>
                  </form>
                </div>
            </div>
        </div>
    </div>
<br>



<div class="container">
<div class="row">
		<div class="col-md-1"></div>

	   <div class="col-md-15">
				<div class="card">
						<div class="card-header">
              <table class="table table-dark" id="tbl_clientes">
                        <thead>
                        <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>TELEFONO</th>
                        <th>DIRRECCION</th>
                        <th>CORREO</th>
                        <th>CEDULA</th>
                        <th>ACCIONES</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for cliente in clientes %}
                      <tr>
                        <td>{{ cliente.idcli_SG }}</td>
                        <td>{{ cliente.nombre_SG }}</td>
                        <td>{{ cliente.telefono_SG }}</td>
                        <td>{{ cliente.direccion_SG }}</td>
                        <td>{{ cliente.correo_SG}}</td>
                        <td>
                          {% if cliente.cedula_SG %}
                              <a href="{{ cliente.cedula_SG.url }}" target="_blank"  class="btn btn-outline-success" required > Ver archivo
                              </a>
                            {% else %}
                              <b>N/A</b>
                            {% endif %}
                        </td>
                        <td>

                        <a href="/editarClientes/{{cliente.idcli_SG}}" class="btn btn-warning">Editar</a>
                        <a href="javascript:void(0)" onclick="eliminarClientes('/eliminarClientes/{{cliente.idcli_SG}}');" class="btn btn-danger">Eliminar</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

            			</div>
            		</div>
              </div>
               	<div class="col-md-1"></div>
          </div>
      </div>

<script type="text/javascript">
        function eliminarClientes(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la Carrera Seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
    $(document).ready(function() {
        $("#frm_nuevo_cliente").validate({
            rules: {
                nombre_SG: {
                    required: true,
                    minlength: 3,
                    maxlength: 50,

                },
                telefono_SG: {
                    required: true,
                    minlength: 10,
                    maxlength: 10,
                    digits: true
                },
                direccion_SG: {
                    required: true,
                    minlength: 10,
                    maxlength: 100,

                },
                correo_SG: {
                    required: true,
                    email: true
                },
                cedula_SG: {
                    required: true

                }
            },
            messages: {
                nombre_SG: {
                    required: "Por favor, ingrese el nombre del cliente",
                    minlength: "El nombre debe tener al menos 3 caracteres",
                    maxlength: "El nombre no debe exceder los 50 caracteres"
                },
                telefono_SG: {
                    required: "Por favor, ingrese el número de teléfono",
                    minlength: "El número de teléfono debe tener al menos 10 dígitos",
                    maxlength: "El número de teléfono no debe exceder los 10 dígitos",
                    digits: "Por favor, ingrese solo números"
                },
                direccion_SG: {
                    required: "Por favor, ingrese la dirección del cliente",
                    minlength: "La direccion debe tener al menos 10 caracteres",
                    maxlength: "la direccion no debe exceder los 100 caracteres"

                },
                correo_SG: {
                    required: "Por favor, ingrese el correo electrónico",
                    email: "Por favor, ingrese un correo electrónico válido"
                },
                cedula_SG: {
                    required: "Por favor, adjunte el archivo de cédula del cliente"
                }
            }
        });
    });
</script>

<script type="text/javascript">
  $(document).ready(function() {
      $('#tbl_clientes').DataTable({
          dom: 'Bfrtip',
          buttons: [
              {
                  extend: 'print',
                  className: 'btn btn-outline-primary',
                  text: ' Imprimir'
              },
              {
                  extend: 'pdf',
                  className: 'btn btn-outline-danger',
                  text:' PDF'
              },
              {
                  extend: 'csv',
                  className: 'btn btn-outline-success',
                  text:' CSV'
              }
          ],
          "language": {
              url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
          }
      });
  });
</script>

 <script type="text/javascript">
        function soloNumeros(input) {
            // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
            input.value = input.value.replace(/\D/g, '');
        }
    </script>

<script type="text/javascript">
        function soloLetras(input) {
            // Reemplaza cualquier carácter que no sea una letra con una cadena vacía
            input.value = input.value.replace(/[^a-zA-Z]/g, '');
        }
   </script>

   <script type="text/javascript">
   function validarCorreo(input) {
       var regexCorreo = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
       var correo = input.value;

       if (regexCorreo.test(correo)) {
           input.setCustomValidity('');
           input.style.borderColor = 'green';
       } else {
           input.setCustomValidity('Por favor, ingrese un correo electrónico válido');
           input.style.borderColor = 'red';
       }
   }
   </script>
{% endblock %}
