{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<br>
<br>
<br>
<br>
<br>
<img src='{% static "img/p.png" %}' style='width: 100%; height: 100%; object-fit: cover; object-position: center; position: fixed; top: 0; left: 0; z-index: -1;' />
<div class="col-md-12 position-relative" style="height: 1100px; overflow: hidden">
    <div class="container">
        <div class="contact__wrapper shadow-lg mt-n9">
            <div class="row no-gutters">
                <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                    <h1>Listado Categoria</h1>
										<img src='{% static "img/ca.jpg" %}'style='width: 90%; height: 90%;' alt="">
                </div>

                <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                  <form class="" action="/guardarCategoria/" method="post"  enctype="multipart/form-data" id="frm_nuevo_categoria">
                  {% csrf_token %}
									<br>
									<b>Nombre:</b>
									<input type="text" name="nombre_SG" id="nombre_SG" placeholder="Ingrese el nombre" class="form-control" required>
									<br>
                  <b>Descripcion:</b>
                  <textarea name="descripcion_SG" id="descripcion_SG" oninput="soloLetras(this)" rows="3" class="form-control" placeholder="Ingrese la Direccion" required letterswithbasicpunc></textarea>
                  <br>
                  <b>Fecha Creacion:</b>
                  <input type="date" name="fechaCreacion_SG" id="fechaCreacion_SG" onfocus="establecerFechaActual(this)" placeholder="Ingrese la fecha" class="form-control" required>
									<br>
                  <b>Ubicacion:</b>
                  <textarea name="ubicacion_SG" id="ubicacion_SG" oninput="soloLetras(this)" rows="3" class="form-control" placeholder="Ingrese la Ubicacion" required letterswithbasicpunc></textarea>
                  <br>

									<center>
										<button type="submit" name="button" onclick="guardarCategoria()" class="btn btn-primary">&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;</button> &nbsp;&nbsp;
										<button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
									</center>
                  </form>
                </div>
            </div>
        </div>
    </div>
<br>



<div class="container">
<div class="row">
		<div class="col-md-1"></div>

	   <div class="col-md-15">
				<div class="card">
						<div class="card-body">

              <table class="table table-dark table-striped-columns" id="tbl_categoria">
                        <thead>
                        <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>DESCRIPCION</th>
                        <th>FECHA CREACION</th>
                        <th>UBICACION</th>
                        <th>ACCIONES</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for categoria in categorias %}
                      <tr>
                        <td>{{ categoria.idca_SG }}</td>
                        <td>{{ categoria.nombre_SG}}</td>
                        <td>{{ categoria.descripcion_SG }}</td>
                        <td>{{ categoria.fechaCreacion_SG }}</td>
                        <td>{{ categoria.ubicacion_SG }}</td>
                        <td>

                        <a href="/editarCategoria/{{categoria.idca_SG}}" class="btn btn-warning">Editar</a>
                        <a href="javascript:void(0)" onclick="eliminarCategoria('/eliminarCategoria/{{categoria.idca_SG}}');" class="btn btn-danger">Eliminar</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

            			</div>
            		</div>
              </div>
               	<div class="col-md-1"></div>
          </div>
      </div>

</div>

<script type="text/javascript">
        function eliminarCategoria(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el detalle seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>
      <script type="text/javascript">
          $(document).ready(function () {
              $("#frm_nuevo_categoria").validate({
                  rules: {
                      "nombre_SG": {
                          required: true,
                          minlength: 3,
                          maxlength: 50
                      },
                      "descripcion_SG": {
                          required: true,
                          minlength: 10,
                          maxlength: 200
                      },
                      "fechaCreacion_SG": {
                          required: true
                      },
                      "ubicacion_SG": {
                          required: true,
                          minlength: 5,
                          maxlength: 100
                      }
                  },
                  messages: {
                      "nombre_SG": {
                          required: "Ingrese el nombre de la Categoría",
                          minlength: "El nombre debe tener al menos 3 caracteres",
                          maxlength: "El nombre no debe exceder los 50 caracteres"
                      },
                      "descripcion_SG": {
                          required: "Ingrese una descripción para la categoría",
                          minlength: "La descripción debe tener al menos 10 caracteres",
                          maxlength: "La descripción no debe exceder los 200 caracteres"
                      },
                      "fechaCreacion_SG": {
                          required: "Por favor, ingrese la fecha de creación"
                      },
                      "ubicacion_SG": {
                          required: "Por favor, ingrese la ubicación",
                          minlength: "La ubicación debe tener al menos 5 caracteres",
                          maxlength: "La ubicación no debe exceder los 100 caracteres"
                      }
                  }
              });

              $('#tbl_categoria').DataTable({
                  dom: 'Bfrtip',
                  buttons: [
                      { extend: 'print', className: 'btn btn-outline-primary', text: ' Imprimir' },
                      { extend: 'pdf', className: 'btn btn-outline-danger', text: ' PDF' },
                      { extend: 'csv', className: 'btn btn-outline-success', text: ' CSV ' }
                  ],
                  "language": {
                      url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
                  }
              });
          });
      </script>

      <script type="text/javascript">
          function soloNumeros(input) {
              // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
              input.value = input.value.replace(/\D/g, '');
          }
      </script>

      <script type="text/javascript">
          function soloLetras(input) {
              // Reemplaza cualquier carácter que no sea una letra o espacio con una cadena vacía
              input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
          }
      </script>

      <script type="text/javascript">
          function establecerFechaActual(input) {
              var fechaActual = new Date(); // Obtener la fecha actual
              var dia = fechaActual.getDate();
              var mes = fechaActual.getMonth() + 1; // Los meses en JavaScript son indexados desde 0
              var anio = fechaActual.getFullYear();

              // Formatear la fecha como "YYYY-MM-DD" para establecerla en el campo de entrada
              var fechaFormateada = anio + '-' + (mes < 10 ? '0' : '') + mes + '-' + (dia < 10 ? '0' : '') + dia;

              // Establecer la fecha actual en el campo de entrada
              input.value = fechaFormateada;

              // Establecer la fecha mínima como la fecha actual para evitar fechas anteriores
              input.min = fechaFormateada;

              // Establecer la fecha máxima como la fecha actual para evitar fechas posteriores
              input.max = fechaFormateada;
          }
      </script>

  <style>
      .table-container {
          max-height: 400px; /* Set a maximum height for the scrollable container */
          overflow-y: auto; /* Enable vertical scrollbar if content overflows */
      }
  </style>

{% endblock %}
