{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<br>
<br>
<br>
<br>
<br>
    <div class="container">
        <div class="contact__wrapper shadow-lg mt-n9">
            <div class="row no-gutters">
                <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                    <h1>Listado Ventas</h1>
										<img src='{% static "img/ve.jpeg" %}'style='width: 90%; height: 90%;' alt="">
                </div>

                <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                  <form class="" action="/guardarVentas/" method="post"  enctype="multipart/form-data" id="frm_nuevo_ventas">
                  {% csrf_token %}
                  <b>Tipo Clientes:</b>
                    <select data-live-search="true" data-live-search-style="startsWith" class="selectpicker" name="idcli_SG_clientes" id="idcli_SG_clientes" required  data-live-search-placeholder="Buscar ventas...">
                        <option value="">Selecione el Tipo</option>
                        {% for clientes in clientes %}
                        <option value="{{clientes.idcli_SG}}">{{clientes.nombre_SG}}</option>
                        {% endfor %}
                    </select>
                  <br>
                  <br>
                  <br>
									<b>Tipo:</b>
									<input type="text" name="tipo_SG" id="tipo_SG"  placeholder="Ingrese el tipo" oninput="soloLetras(this)"  class="form-control" required>
									<br>
									<b>Fecha:</b>
									<input type="date" name="fecha_SG" id="fecha_SG" placeholder="Ingrese la fecha" onfocus="establecerFechaActual(this)" class="form-control" required>
									<br>
                  <b>Precio Unitario:</b>
                  <input type="number" name="precioUnitario_SG" id="precioUnitario_SG" oninput="soloNumeros(this)" placeholder="Ingrese el precio Unitario" class="form-control" required>
									<br>
                  <br>
                  <b>Precio Total:</b>
									<input type="number" name="precioTotal_SG" id="precioTotal_SG" oninput="soloNumeros(this)" placeholder="Ingrese el precio Total" class="form-control" required>
									<br>
                  <b>Descripcion:</b>
                  <textarea name="descripcion_SG" id="descripcion_SG" oninput="soloLetras(this)" rows="3" class="form-control" placeholder="Ingrese la descripcion" required letterswithbasicpunc></textarea>
                  <br>

									<center>
										<button type="submit" name="button" onclick="guardarVentas()" class="btn btn-primary">&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;</button> &nbsp;&nbsp;
										<button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
									</center>
                  </form>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">
<div class="row">
		<div class="col-md-1"></div>

	   <div class="col-md-15">
				<div class="card">
						<div class="card-body">

              <table class="table table-dark table-striped-columns" id="tbl_ventas">
                        <thead>
                        <tr>
                        <th>ID</th>
                        <th>TIPO</th>
                        <th>FECHA</th>
                        <th>PRECIO UNITARIO</th>
                        <th>PRECIO TOTAL</th>
                        <th>DESCRIPCION</th>
                        <th>TIPO CLIENTES</th>
                        <th>ACCIONES</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for ventas in ventas %}
                      <tr>
                        <td>{{ ventas.idve_SG }}</td>
                        <td>{{ ventas.tipo_SG }}</td>
                        <td>{{ ventas.fecha_SG }}</td>
                        <td>{{ ventas.precioUnitario_SG }}</td>
                        <td>{{ ventas.precioTotal_SG }}</td>
                        <td>{{ ventas.descripcion_SG}}</td>
                        <td>{{ ventas.clientes.nombre_SG}}</td>
                        <td>

                        <a href="/editarVentas/{{ventas.idve_SG}}" class="btn btn-warning">Editar</a>
                        <a href="javascript:void(0)" onclick="eliminarVentas('/eliminarVentas/{{ventas.idve_SG}}');" class="btn btn-danger">Eliminar</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

            			</div>
            		</div>
              </div>
               	<div class="col-md-1"></div>
          </div>
      </div>


<script type="text/javascript">
        function eliminarVentas(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la venta seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>
      <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-success">Mostrar/ocultar gráfico</button>

    <div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            window.toggleChart = function () {
                const chartContainer = document.getElementById('chartContainer');
                if (chartContainer.style.display === 'none') {
                    chartContainer.style.display = 'block';
                } else {
                    chartContainer.style.display = 'none';
                }
            };

            const ctx = document.getElementById('myChart').getContext('2d');

            const clientesSelect = document.getElementById('idcli_SG_clientes');

            const tiposSet = new Set();
            const clientesTipo = {};

            {% for clientes in clientes %}
                tiposSet.add("{{ clientes.tipo.nombre }}");
                if (!clientesTipo["{{ clientes.tipo.nombre }}"]) {
                    clientesTipo["{{ clientes.tipo.nombre }}"] = 1;
                } else {
                    clientesTipo["{{ clientes.tipo.nombre }}"] += 1;
                }
            {% endfor %}

            const tiposArray = Array.from(tiposSet);
            const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: clientesTipo[tipo] || 0 }));

            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: tiposArray,
                    datasets: [{
                        label: 'Cantidad de Clientes',
                        data: posiciones.map(posicion => posicion.y),
                        backgroundColor: 'rgba(0, 100, 0, 0.5)',
                        borderColor: 'rgba(0, 100, 0, 1)',
                        borderWidth: 1,
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'category',
                            position: 'bottom',
                        },
                        y: {
                            beginAtZero: true,
                            stepSize: 1,
                        }
                    }
                }
            });
        });
    </script>
      <script type="text/javascript">

        $(document).ready(function () {
          $("#frm_nuevo_ventas").validate({
              rules: {
                "idcli_SG_clientes": {
                    required: true
                },
                  "tipo_SG": {
                      required: true,
                      minlength: 4, // Mínimo 5 caracteres para la descripción
                      maxlength: 50
                  },
                  "fecha_SG": {
                      required: true
                  },
                  "precioUnitario_SG": {
                      required: true,
                      number: true
                  },
                  "precioTotal_SG": {
                      required: true
                  },
                  "descripcion_SG": {
                      required: true,
                      minlength: 5, // Mínimo 5 caracteres para la descripción
                      maxlength: 100 // Máximo 100 caracteres para la descripción
                  }
              },
              messages: {
                "idcli_SG_clientes": {
                    required: "Por favor, Selecione el Tipo de Cliente"
                },
                  "tipo_SG": {
                      required: "Por favor, ingrese el tipo",
                      minlength: "La descripción debe tener al menos {0} caracteres",
                      maxlength: "La descripción no puede tener más de {0} caracteres"
                  },
                  "fecha_SG": {
                      required: "Por favor, ingrese la fecha"
                  },
                  "precioUnitario_SG": {
                      required: "Por favor, ingrese el Precio Unitario",
                      number: "Por favor, ingrese un número válido"
                  },
                  "precioTotal_SG": {
                      required: "Por favor, ingrese el precio Total"
                  },
                  "descripcion_SG": {
                      required: "Por favor ingrese la descripción",
                      minlength: "La descripción debe tener al menos {0} caracteres",
                      maxlength: "La descripción no puede tener más de {0} caracteres"
                  }
              }

          });
          $('#tbl_ventas').DataTable({
              dom: 'Bfrtip',
               buttons: [
                 { extend: 'print', className: 'btn btn-outline-primary', text: ' Imprimir'},
                 { extend: 'pdf', className: 'btn btn-outline-danger', text:' PDF' },
                 { extend: 'csv', className: 'btn btn-outline-success', text:' CSV' }
               ],
               "language": {
                  url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
               }
             });
      });

      function establecerFechaActual(input) {
          var fechaActual = new Date(); // Obtener la fecha actual
          var dia = fechaActual.getDate();
          var mes = fechaActual.getMonth() + 1; // Los meses en JavaScript son indexados desde 0
          var anio = fechaActual.getFullYear();

          // Formatear la fecha como "YYYY-MM-DD" para establecerla en el campo de entrada
          var fechaFormateada = anio + '-' + (mes < 10 ? '0' : '') + mes + '-' + (dia < 10 ? '0' : '') + dia;

          // Establecer la fecha actual en el campo de entrada
          input.value = fechaFormateada;

          // Establecer la fecha mínima como la fecha actual para evitar fechas anteriores
          input.min = fechaFormateada;

          // Establecer la fecha máxima como la fecha actual para evitar fechas posteriores
          input.max = fechaFormateada;
      }

      function soloNumeros(input) {
         // Reemplaza cualquier carácter que no sea un dígito numérico con una cadena vacía
         input.value = input.value.replace(/\D/g, '');
      }

      function soloLetras(input) {
         // Reemplaza cualquier carácter que no sea una letra o espacio con una cadena vacía
         input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
      }

      </script>


  <style>
      .table-container {
          max-height: 400px; /* Set a maximum height for the scrollable container */
          overflow-y: auto; /* Enable vertical scrollbar if content overflows */
      }
  </style>

{% endblock %}
