table{
  border: 4px solid black !important;
}


/*Estilo para personalisar  jquery validate*/
label.error{
  color:red;
  font-weight: bold;
}
input.error, select.error, textarea.error{
  border: 1px solid red;
}
